<div>
    @Html.ActionLink("List of Tour Events", "Index", "TourEvents")<br />
    @Html.ActionLink("List of Clients", "Index", "Clients")<br />
    @Html.ActionLink("List of Bookings", "Index", "Bookings")<br />
    @Html.ActionLink("List of Tour", "Index", "Tours")<br />

</div>